<p id="notice"><%= notice %></p>

<p>
  <p>
    <img src="<%= current_user.image_url %>" alt="avatar" />
    <%= current_user.firstname %>
    <%= current_user.lastname %>
  </p>
  <b>Content:</b>
  <p id="post_<%= @post.id %>">
    <%= @post.content %>
  </p>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Publish', post_path(@post), :class => 'publish', 'data-publish' => "post_#{@post.id}" %> |
<%= link_to 'Back', posts_path %>
